* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100vw;
	height: 100vh;
	display: flex;
	background: #000;
	overflow: hidden;
}

#thingEditor {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 300px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	display: flex;
	flex-direction: column;
}

#thingEditor_header {
	width: 100%;
	height: 32px;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#thingEditor_content {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;

	max-height: 300px;
	overflow-y: scroll;
}

#thingEditor_content.hidden {
	display: none;
	appearance: none;
	visibility: hidden;
}

#gameControls {
	position: absolute;
	top: 16px;
	left: 50%;
	background: rgba(0,0,0,0.5);
	color: #fff;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px;

	transform: translate(-50%, 0);
}

#gameControls button {
	padding: 4px 16px;
	background: #ddd;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}

#gameControls button:hover {
	opacity: 0.8;
}

#gameControls button.green {
	background: #134b13;
	color: white;
}

#gameControls button.red {
	background: #dd0033;
	color: white;
}

#thingsList {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 300px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	display: flex;
	flex-direction: column;
}

#thingsList_header {
	width: 100%;
	height: 32px;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#thingsList_content {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;

	max-height: 300px;
	height: 100%;
	overflow-y: scroll;
}

.thingsList_content_thing {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
}

#thingsList_content.hidden {
	display: none;
	appearance: none;
	visibility: hidden;
}


.flex {
	display: flex;
}

.flow-column {
	flex-flow: column nowrap;
}